Project/n8n/workflows/THA-Asistente-LLM.json
{
  "updatedAt": "2026-06-09T01:27:45.258Z",
  "createdAt": "2026-06-08T23:17:16.409Z",
  "id": "smZNEeRbuyiOesQp",
  "name": "THA - Asistente LLM",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "webhookId": "telegram-heart-ai",
      "id": "telegram-trigger-01",
      "credentials": {
        "telegramApi": {
          "id": "1icwOfNh2Z2l2e47",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.id as medico_id, u.nombres as nombre, u.apellidos as apellido, m.especialidad, m.telegramChatId, u.correo as email FROM medicos m JOIN usuarios u ON m.id = u.id WHERE m.telegramChatId = '{{ $json.message.chat.id }}'",
        "options": {}
      },
      "name": "Identificar Medico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        464,
        304
      ],
      "id": "identify-medico-01",
      "credentials": {
        "postgres": {
          "id": "q7Lse8miAPXZ0IHU",
          "name": "PostgreSQL Aiven"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Medico Registrado IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        656,
        304
      ],
      "id": "if-medico-01"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "\u26a0\ufe0f Su n\u00famero de Telegram no est\u00e1 registrado en el sistema. Contacte al administrador.",
        "additionalFields": {}
      },
      "name": "Rechazar No Registrado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        864,
        480
      ],
      "id": "reject-unregistered-01",
      "webhookId": "b453239e-8a97-48ea-96d7-0a1a44d2d446",
      "credentials": {
        "telegramApi": {
          "id": "1icwOfNh2Z2l2e47",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {},
      "name": "Armar Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        864,
        304
      ],
      "id": "armar-prompt-01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_API_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"Eres un asistente cl\u00ednico experto en cardiolog\u00eda.\"},{\"role\":\"user\",\"content\":\"{{ $json.prompt }}\"}]"
            },
            {
              "name": "temperature",
              "value": "0.3"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Consultar LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        304
      ],
      "id": "consultar-llm-01",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rRExbhLAhfmH4sky",
          "name": "OpenCode Go LLM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-sql",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "SELECT",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF Contiene SQL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1264,
        304
      ],
      "id": "if-contiene-sql-01"
    },
    {
      "parameters": {},
      "name": "Extraer SQL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1456,
        208
      ],
      "id": "extraer-sql-01"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "name": "Ejecutar SQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1664,
        208
      ],
      "id": "ejecutar-sql-01",
      "credentials": {
        "postgres": {
          "id": "q7Lse8miAPXZ0IHU",
          "name": "PostgreSQL Aiven"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF Error SQL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1856,
        208
      ],
      "id": "if-error-sql-01"
    },
    {
      "parameters": {},
      "name": "Capturar Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        2064,
        112
      ],
      "id": "capturar-error-01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_API_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"Eres un asistente cl\u00ednico experto en cardiolog\u00eda.\"},{\"role\":\"user\",\"content\":\"{{ $json.retryPrompt }}\"}]"
            },
            {
              "name": "temperature",
              "value": "0.2"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Reintentar LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        112
      ],
      "id": "reintentar-llm-01",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rRExbhLAhfmH4sky",
          "name": "OpenCode Go LLM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-2do",
              "leftValue": "={{ $json.choices[0].message.content }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF 2do Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        112
      ],
      "id": "if-2do-error-01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_API_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"Formatea la respuesta como markdown cl\u00ednico profesional.\"},{\"role\":\"user\",\"content\":\"Datos: {{ JSON.stringify($json) }}. Resume en 3-5 l\u00edneas m\u00e1ximo.\"}]"
            },
            {
              "name": "temperature",
              "value": "0.3"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        528
      ],
      "id": "formatear-respuesta-01",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rRExbhLAhfmH4sky",
          "name": "OpenCode Go LLM"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Armar Prompt').item.json.chatId }}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "name": "Responder Medico",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2688,
        464
      ],
      "id": "responder-medico-01",
      "webhookId": "0abc825c-2f8a-4dd3-a636-3867aa80e9a8",
      "credentials": {
        "telegramApi": {
          "id": "1icwOfNh2Z2l2e47",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (triaje_id, tipoEvento, detalle, exitoso, timestamp) VALUES (NULL, 'n8n_llm_exito', 'Respuesta enviada al m\u00e9dico', true, NOW())",
        "options": {}
      },
      "name": "INSERT Log Exito",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2912,
        480
      ],
      "id": "insert-log-exito-01",
      "credentials": {
        "postgres": {
          "id": "q7Lse8miAPXZ0IHU",
          "name": "PostgreSQL Aiven"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (triaje_id, tipoEvento, detalle, exitoso, timestamp) VALUES (NULL, 'n8n_llm_fatal', 'Fallo persistente del LLM', false, NOW())",
        "options": {}
      },
      "name": "INSERT Log Fatal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2656,
        -96
      ],
      "id": "insert-log-fatal-01",
      "credentials": {
        "postgres": {
          "id": "q7Lse8miAPXZ0IHU",
          "name": "PostgreSQL Aiven"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Armar Prompt').item.json.chatId }}",
        "text": "\u274c Lo siento, no pude procesar su consulta en este momento. Por favor, intente m\u00e1s tarde o contacte al administrador.",
        "additionalFields": {}
      },
      "name": "Disculpa Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2864,
        -96
      ],
      "id": "disculpa-error-01",
      "webhookId": "3af47281-01a7-4692-ae0a-1de2001e179b",
      "credentials": {
        "telegramApi": {
          "id": "1icwOfNh2Z2l2e47",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Identificar Medico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Medico": {
      "main": [
        [
          {
            "node": "Medico Registrado IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medico Registrado IF": {
      "main": [
        [
          {
            "node": "Armar Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazar No Registrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Prompt": {
      "main": [
        [
          {
            "node": "Consultar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar LLM": {
      "main": [
        [
          {
            "node": "IF Contiene SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Contiene SQL": {
      "main": [
        [
          {
            "node": "Extraer SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer SQL": {
      "main": [
        [
          {
            "node": "Ejecutar SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar SQL": {
      "main": [
        [
          {
            "node": "IF Error SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error SQL": {
      "main": [
        [
          {
            "node": "Capturar Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar Error": {
      "main": [
        [
          {
            "node": "Reintentar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reintentar LLM": {
      "main": [
        [
          {
            "node": "IF 2do Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 2do Error": {
      "main": [
        [
          {
            "node": "INSERT Log Fatal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Log Fatal": {
      "main": [
        [
          {
            "node": "Disculpa Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Responder Medico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Medico": {
      "main": [
        [
          {
            "node": "INSERT Log Exito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "b1148ca3-30a0-4af9-98ea-8a60e5cd01f1",
  "activeVersionId": "b1148ca3-30a0-4af9-98ea-8a60e5cd01f1",
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-08T23:17:16.409Z",
      "createdAt": "2026-06-08T23:17:16.409Z",
      "role": "workflow:owner",
      "workflowId": "smZNEeRbuyiOesQp",
      "projectId": "OhBbW0QDR3wMOvsM",
      "project": {
        "updatedAt": "2026-06-08T22:51:58.177Z",
        "createdAt": "2026-06-08T22:34:49.435Z",
        "id": "OhBbW0QDR3wMOvsM",
        "name": "Admin User <admin@telemetry-heart-ai.localj>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "860dcd8d-0ef7-450a-bc39-41758c973847"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-06-09T01:27:45.737Z",
    "createdAt": "2026-06-09T01:27:45.737Z",
    "versionId": "b1148ca3-30a0-4af9-98ea-8a60e5cd01f1",
    "workflowId": "smZNEeRbuyiOesQp",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1,
        "position": [
          256,
          304
        ],
        "webhookId": "telegram-heart-ai",
        "id": "telegram-trigger-01",
        "credentials": {
          "telegramApi": {
            "id": "1icwOfNh2Z2l2e47",
            "name": "Telegram Bot API"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT m.id as medico_id, u.nombres as nombre, u.apellidos as apellido, m.especialidad, m.telegramChatId, u.correo as email FROM medicos m JOIN usuarios u ON m.id = u.id WHERE m.telegramChatId = '{{ $json.message.chat.id }}'",
          "options": {}
        },
        "name": "Identificar Medico",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          464,
          304
        ],
        "id": "identify-medico-01",
        "credentials": {
          "postgres": {
            "id": "q7Lse8miAPXZ0IHU",
            "name": "PostgreSQL Aiven"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-1",
                "leftValue": "={{ $json.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Medico Registrado IF",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          656,
          304
        ],
        "id": "if-medico-01"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "\u26a0\ufe0f Su n\u00famero de Telegram no est\u00e1 registrado en el sistema. Contacte al administrador.",
          "additionalFields": {}
        },
        "name": "Rechazar No Registrado",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          864,
          480
        ],
        "id": "reject-unregistered-01",
        "webhookId": "b453239e-8a97-48ea-96d7-0a1a44d2d446",
        "credentials": {
          "telegramApi": {
            "id": "1icwOfNh2Z2l2e47",
            "name": "Telegram Bot API"
          }
        }
      },
      {
        "parameters": {},
        "name": "Armar Prompt",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          864,
          304
        ],
        "id": "armar-prompt-01"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.LLM_API_URL }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "deepseek-v4-flash"
              },
              {
                "name": "messages",
                "value": "=[{\"role\":\"system\",\"content\":\"Eres un asistente cl\u00ednico experto en cardiolog\u00eda.\"},{\"role\":\"user\",\"content\":\"{{ $json.prompt }}\"}]"
              },
              {
                "name": "temperature",
                "value": "0.3"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "name": "Consultar LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1056,
          304
        ],
        "id": "consultar-llm-01",
        "credentials": {
          "httpHeaderAuth": {
            "id": "rRExbhLAhfmH4sky",
            "name": "OpenCode Go LLM"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-sql",
                "leftValue": "={{ $json.choices[0].message.content }}",
                "rightValue": "SELECT",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "IF Contiene SQL",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1264,
          304
        ],
        "id": "if-contiene-sql-01"
      },
      {
        "parameters": {},
        "name": "Extraer SQL",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          1456,
          208
        ],
        "id": "extraer-sql-01"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $json.sql }}",
          "options": {}
        },
        "name": "Ejecutar SQL",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          1664,
          208
        ],
        "id": "ejecutar-sql-01",
        "credentials": {
          "postgres": {
            "id": "q7Lse8miAPXZ0IHU",
            "name": "PostgreSQL Aiven"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "isNotEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "IF Error SQL",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1856,
          208
        ],
        "id": "if-error-sql-01"
      },
      {
        "parameters": {},
        "name": "Capturar Error",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [
          2064,
          112
        ],
        "id": "capturar-error-01"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.LLM_API_URL }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "deepseek-v4-flash"
              },
              {
                "name": "messages",
                "value": "=[{\"role\":\"system\",\"content\":\"Eres un asistente cl\u00ednico experto en cardiolog\u00eda.\"},{\"role\":\"user\",\"content\":\"{{ $json.retryPrompt }}\"}]"
              },
              {
                "name": "temperature",
                "value": "0.2"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "name": "Reintentar LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2256,
          112
        ],
        "id": "reintentar-llm-01",
        "credentials": {
          "httpHeaderAuth": {
            "id": "rRExbhLAhfmH4sky",
            "name": "OpenCode Go LLM"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-2do",
                "leftValue": "={{ $json.choices[0].message.content }}",
                "rightValue": "error",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "IF 2do Error",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2464,
          112
        ],
        "id": "if-2do-error-01"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.LLM_API_URL }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "deepseek-v4-flash"
              },
              {
                "name": "messages",
                "value": "=[{\"role\":\"system\",\"content\":\"Formatea la respuesta como markdown cl\u00ednico profesional.\"},{\"role\":\"user\",\"content\":\"Datos: {{ JSON.stringify($json) }}. Resume en 3-5 l\u00edneas m\u00e1ximo.\"}]"
              },
              {
                "name": "temperature",
                "value": "0.3"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "name": "Formatear Respuesta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2208,
          528
        ],
        "id": "formatear-respuesta-01",
        "credentials": {
          "httpHeaderAuth": {
            "id": "rRExbhLAhfmH4sky",
            "name": "OpenCode Go LLM"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Armar Prompt').item.json.chatId }}",
          "text": "={{ $json.choices[0].message.content }}",
          "additionalFields": {}
        },
        "name": "Responder Medico",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          2688,
          464
        ],
        "id": "responder-medico-01",
        "webhookId": "0abc825c-2f8a-4dd3-a636-3867aa80e9a8",
        "credentials": {
          "telegramApi": {
            "id": "1icwOfNh2Z2l2e47",
            "name": "Telegram Bot API"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO logs (triaje_id, tipoEvento, detalle, exitoso, timestamp) VALUES (NULL, 'n8n_llm_exito', 'Respuesta enviada al m\u00e9dico', true, NOW())",
          "options": {}
        },
        "name": "INSERT Log Exito",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          2912,
          480
        ],
        "id": "insert-log-exito-01",
        "credentials": {
          "postgres": {
            "id": "q7Lse8miAPXZ0IHU",
            "name": "PostgreSQL Aiven"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO logs (triaje_id, tipoEvento, detalle, exitoso, timestamp) VALUES (NULL, 'n8n_llm_fatal', 'Fallo persistente del LLM', false, NOW())",
          "options": {}
        },
        "name": "INSERT Log Fatal",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          2656,
          -96
        ],
        "id": "insert-log-fatal-01",
        "credentials": {
          "postgres": {
            "id": "q7Lse8miAPXZ0IHU",
            "name": "PostgreSQL Aiven"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Armar Prompt').item.json.chatId }}",
          "text": "\u274c Lo siento, no pude procesar su consulta en este momento. Por favor, intente m\u00e1s tarde o contacte al administrador.",
          "additionalFields": {}
        },
        "name": "Disculpa Error",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          2864,
          -96
        ],
        "id": "disculpa-error-01",
        "webhookId": "3af47281-01a7-4692-ae0a-1de2001e179b",
        "credentials": {
          "telegramApi": {
            "id": "1icwOfNh2Z2l2e47",
            "name": "Telegram Bot API"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Identificar Medico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Identificar Medico": {
        "main": [
          [
            {
              "node": "Medico Registrado IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Medico Registrado IF": {
        "main": [
          [
            {
              "node": "Armar Prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Rechazar No Registrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Armar Prompt": {
        "main": [
          [
            {
              "node": "Consultar LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar LLM": {
        "main": [
          [
            {
              "node": "IF Contiene SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Contiene SQL": {
        "main": [
          [
            {
              "node": "Extraer SQL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Formatear Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer SQL": {
        "main": [
          [
            {
              "node": "Ejecutar SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ejecutar SQL": {
        "main": [
          [
            {
              "node": "IF Error SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Error SQL": {
        "main": [
          [
            {
              "node": "Capturar Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Formatear Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Capturar Error": {
        "main": [
          [
            {
              "node": "Reintentar LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reintentar LLM": {
        "main": [
          [
            {
              "node": "IF 2do Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF 2do Error": {
        "main": [
          [
            {
              "node": "INSERT Log Fatal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Formatear Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "INSERT Log Fatal": {
        "main": [
          [
            {
              "node": "Disculpa Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta": {
        "main": [
          [
            {
              "node": "Responder Medico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Medico": {
        "main": [
          [
            {
              "node": "INSERT Log Exito",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Admin User",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-09T01:28:24.208Z",
        "id": 7,
        "workflowId": "smZNEeRbuyiOesQp",
        "versionId": "b1148ca3-30a0-4af9-98ea-8a60e5cd01f1",
        "event": "activated",
        "userId": "860dcd8d-0ef7-450a-bc39-41758c973847"
      }
    ]
  },
  "scopes": [
    "execution:reveal",
    "workflow:create",
    "workflow:delete",
    "workflow:disableRedaction",
    "workflow:enableRedaction",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:export",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update"
  ],
  "checksum": "e410de9a33040db7aae9c84e59eb50025aa39632e51b61ff1326be10b3365478"
}